<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<div class="sidebar ">
    <a class="active" href="inicio"><img src="../logo-politecnica.png" alt="logo EPN" style="height: 70px"></a>
    <hr class="hrv">

    <button class="navbar-toggler toggler " type="button" data-toggle="collapse" data-target="#navbar-collapse">☰</button>

    <div class="collapse navbar-collapse" id="navbar-collapse">

        <a class="textMenu" href="inicio"><img src="../iconHome.png"  class="rounded-circle imgText fa fa-fw " alt="icono Inicio" >Inicio</a>

        <li class="nav-item">
            <button class="dropdown-btn textMenu" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><img src="../iconDashboard.png"  class="rounded imgText fa fa-fw" alt="icono Resultados">Resultados
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="collapse" id="submenu1" aria-expanded="false">
                <ul class="flex-column pl-2 nav">
                    <li class="nav-item">
                        <a class="nav-link collapsed py-1 textMenu" href="#submenu1sub1" data-toggle="collapse" data-target="#submenu1sub1" onclick="$('#submenu1sub2').hide();$('#submenu1sub1').show();"><span>Datos Generales</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed py-1 textMenu" href="#submenu1sub2" data-toggle="collapse" data-target="#submenu1sub2" onclick="$('#submenu1sub1').hide();$('#submenu1sub2').show();"><span>Datos Institución</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="textMenu" href="acerca"><img src="../iconAcerca.png"  class="rounded imgText fa fa-fw" alt="icono Acerca"> Acerca de</a>
        </li>
    </div>
</div>


<div class="content main">

    <div class="tab-content" id="contenido" aria-expanded="false">
        <h2>Sidebar Dropdown</h2>
        <p>Click on the dropdown button to open the dropdown menu inside the side navigation.</p>
        <p>This sidebar is of full height (100%) and always shown.</p>
        <p>Some random text..</p>
    </div>

    <div class="tab-content" id="submenu1sub1" aria-expanded="false">
        <div id="canvas-container" style="width:70%;">
            <canvas id="chart2" width="2000" height="800"></canvas>
        </div>
        <div id="canvas-container" style="width:70%;">
            <canvas id="chart3" width="2000" height="800"></canvas>
        </div>
    </div>


    <div id="submenu1sub2" aria-expanded="false">

        <ul class="nav nav-tabs flex-column pl-2">
            <li>
                <form name="formulario1" action="#">
                    <select class="seleccion" name="cosa" onchange="cambia1()" >
                        <option hidden selected>Selecciona una opción</option>
                        <% for(var i = 0; i< instituciones.length; i++){ %>
                            <option id="seleccionado"  value="<%= instituciones[i].nom_ins %>"> <%= instituciones[i].nom_ins %> </option>
                        <% } %>
                    </select>
                </form>
            </li>
        </ul>

        <div class="tab-content">
            <div id="canvas-container" style="width:70%;">
                <canvas id="chart" width="2000" height="800"></canvas>
            </div>
        </div>
    </div>




</div>




<script src="/js/mVertical.js"></script>





<script src="/js/grafico2.js"></script>
<script type="text/javascript">
    var tot_ins_nor = <%- JSON.stringify(tot_ins_nor) %>
    var instituciones = <%- JSON.stringify(instituciones) %>

            archivoJS(tot_ins_nor);
    archivoJS2(tot_ins_nor);

</script>

<script src="/js/grafico1.js"></script>
<script type="text/javascript">
    var tot_ins_nor = <%- JSON.stringify(tot_ins_nor) %>
    var instituciones = <%- JSON.stringify(instituciones) %>
        console.log(tot_ins_nor)
    //archivoJS(instituciones)

    function cambia1(){
        cosa = document.formulario1.cosa[document.formulario1.cosa.selectedIndex].index;
        console.log("cosita" + cosa)
        // return cosa;

        if (cosa==1)
        {
            archivoJS(tot_ins_nor);
        }
        if (cosa==2)
        {
            archivoJS2(tot_ins_nor);
        }
        if (cosa==3)
        {
            archivoJS3(tot_ins_nor);
        }
    }

    //  var respuestaFuncion = cambia1();
    //  var respuestaFuncion = nombreFuncion(parametrosDeLaFuncion, otroParametroSiEsNecesario);
    // var varopcion =document.formulario1.mivariable;
    //  console.log("esto es lo que cambia"+respuestaFuncion)
    // graficar(respuestaFuncion);
</script>


</body>
</html>
