<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/graficas.css">
    <link rel="stylesheet" href="/css/selector.css">


</head>
<body>

<!-- Menú - navbar -->
<section>
    <nav class="navbar fixed-top navbar-expand-sm nav-fill bg">
        <a class="navbar-brand logo" ><img src="../logo-epn.png" alt="logo EPN" style="height: 50px"></a>
        <button class="navbar-toggler toggler " type="button" data-toggle="collapse" data-target="#navbar-collapse">☰</button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav ml-auto ">
                <li class="nav-item"> <a class="nav-link textMenu" href="inicio">
                        <img src="../iconHome.png"  class="rounded-circle imgText" alt="icono Inicio" >
                        Inicio</a>
                </li>
                <li class="nav-item"> <a class="nav-link textMenu" href="resultados">
                        <img src="../iconDashboard.png"  class="rounded imgText" alt="icono Resultados">
                        Resultados</a>
                </li>
                <li class="nav-item"> <a class="nav-link textMenu" href="acerca">
                        <img src="../iconAcerca.png"  class="rounded imgText" alt="icono Acerca">
                        Acerca de</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!-- FIN Menú - navbar -->

<!-- Título -->
<section>
    <h2 class="h2"></h2>
</section>
<!-- FIN Título -->

<!-- Información general -->
<section>
   <div class="row sp">
       <div class="col-xl-3 col-lg-6 col-12">
           <div class="card">
               <div class="card-content">
                   <div class="media align-items-stretch">
                       <div class="p-2 text-center bg-primary bg-darken-2">
                           <i><img class="card-img-top" src="../icn-ins.png" alt="icono Institución" ></i>
                       </div>
                       <div class="p-2 bg-gradient-x-primary white media-body">
                           <h5>Instituciones Evaluadas</h5>
                           <h5 class="text-bold-400 mb-0">
                               26
                           </h5>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-xl-3 col-lg-6 col-12">
           <div class="card">
               <div class="card-content">
                   <div class="media align-items-stretch">
                       <div class="p-2 text-center bg-primary2 bg-darken-22">
                           <i> <img class="card-img-top" src="../icn-norm.png" alt="icono Norma" ></i>
                       </div>
                       <div class="p-2 bg-gradient-x-primary2 white media-body">
                           <h5>Normas Técnicas Ecuatorianas</h5>
                           <h5 class="text-bold-400 mb-0">
                               11
                           </h5>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-xl-3 col-lg-6 col-12">
           <div class="card">
               <div class="card-content">
                   <div class="media align-items-stretch">
                       <div class="p-2 text-center bg-primary3 bg-darken-23">
                           <i><img class="card-img-top" src="../icn-preg.png" alt="icono Pregunta" ></i>
                       </div>
                       <div class="p-2 bg-gradient-x-primary3 white media-body">
                           <h5>Preguntas realizadas</h5>
                           <h5 class="text-bold-400 mb-0">
                               181
                           </h5>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-xl-3 col-lg-6 col-12">
           <div class="card">
               <div class="card-content">
                   <div class="mediaI align-items-stretch">
                       <div class="p-2 text-center bg-primary4 bg-darken-24">
                           <i><img class="card-img-top" src="../icn-dis.png" alt="icono Discapacidad" ></i>
                       </div>
                       <div class="p-2 bg-gradient-x-primary4 white media-body">
                           <h5>Discapacidades Consideradas</h5>
                           <h5 class="text-bold-400 mb-0">
                               3
                           </h5>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
    <br>
</section>
<!-- FIN Información general -->

<!-- Graficos Generales-->

<section>
    <div id="content2" class="container-fluid">
        <div class="row ">
            <div class="col-sm-12">
                <div class="row ">
                    <div class="col-sm-6">
                        <div id="global" class="chart-container global">
                            <div id="legend" ></div>
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-6">
                        <div class="chart-container" >
                            <canvas id="chart1"></canvas>
                        </div>
                        <script src="/js/puntaje_Total.js"></script>
                        <br>
                    </div>
                    <br>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="row ">
                    <div class="col-sm-6">
                        <div class="chart-container" >
                            <canvas id="chart5"></canvas>
                        </div>
                        <script src="/js/porcentajes_Totales.js"></script>
                        <br>
                    </div>
                    <div class="col-sm-6">
                        <div class="chart-container" >
                            <canvas id="chart6"></canvas>
                        </div>
                        <script src="/js/valoracion_instituciones.js"></script>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-xs well">
                <a href="#info1" class="inf" alt="Porcentaje obtenido por Discapacidad"></a>
            </div>
            <div class="col-sm-4 col-xs well" >
                <a href="#info2" class="inf" alt="Porcentaje obtenido por Norma"></a>
            </div>
            <div class="col-sm-4 col-xs well">
                <a href="#info3" class="inf" alt="Datos por Institución"></a>
            </div>
        </div>
        <!-- contenido informacion adicional -->
        <div class="row">
            <div id="info1" class="col-sm-12 well oculto" >
                <br>
                <div id="content2" class="container-fluid">
                    <div class="row ">
                        <div class="col-sm-12" style ="text-align: center">
                            <div class="row" >
                                <div class="col-sm-4" >
                                    <div class="chart-container">
                                        <canvas id="chart2" style="width: 700px; height: 500px"></canvas>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-sm-4" >
                                    <div class="chart-container">
                                        <canvas id="chart3" style="width: 700px; height: 500px"></canvas>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-sm-4" >
                                    <div class="chart-container">
                                        <canvas id="chart4" style="width: 700px; height: 500px" ></canvas>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <script src="/js/porcentaje_Discapacidad.js"></script>
                <br>
            </div>
            <div id="info2" class="col-sm-12 well oculto" style="justify-content: center" >
                <br>
                <div class="chart-container">
                    <canvas id="chart9"></canvas>
                </div>
                <br>
                <script src="/js/porcentaje_Normas.js"></script>
                <br>
            </div>
            <div id="info3" class="col-sm-12 well oculto" style="text-align: center;">
               <br>
                    <form name="formulario1" action="#" style="justify-content: center" >
                        <select class=" dropdown-content select-items select-selected " name="institucion" onchange="institucionSeleccionada()"  >
                            <option hidden selected>Selecciona una opción</option>
                            <% for(var i = 0; i< tot_nor_ins.length; i++){ %>
                                <option id="seleccionado"  value="<%= tot_nor_ins[i].nom_ins %>"> <%= tot_nor_ins[i].nom_ins %> </option>
                            <% } %>
                        </select>
                    </form>
                <div class="tab-content">
                    <div id="canvas-container" style="width:70%;">
                        <canvas id="chart" width="2000" height="800"></canvas>
                    </div>
                    <script src="/js/puntaje_Total_Norma.js"></script>
                </div>
                <br>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function(){
            $(".oculto").hide();
            $(".inf").click(function(){
                var nodo = $(this).attr("href");

                if ($(nodo).is(":visible")){
                    $(nodo).hide();
                    return false;
                }else{
                    $(".oculto").hide("slow");
                    $(nodo).fadeToggle("slow");
                    return false;
                }
            });
        });
    </script>
</section>
<br>
<!--
<section>
    <div class="col-sm-12" style="text-align: center">

        <form name="formulario1" action="#" style="justify-content: center">
            <input id="selcapa" class="chosen-value" type="text" value="" placeholder="Seleccione una capa">
            <ul class="value-list" name="institucion" onchange="institucionSeleccionada()">
                <% for(var i = 0; i< tot_nor_ins.length; i++){ %>
                    <li id="seleccionado"  value="<%= tot_nor_ins[i].nom_ins %>"> <%= tot_nor_ins[i].nom_ins %> </li>
                <% } %>
            </ul>
        </form>
        <div class="tab-content">
            <div id="canvas-container" style="width:70%;">
                <canvas id="chart" width="2000" height="800"></canvas>
            </div>
            <script src="/js/puntaje_Total_Norma.js"></script>
        </div>
    </div>
    <script src="/js/selector.js"></script>
</section>-->
<!-- FIN Graficos Generales-->

<!-- Pie de página -->
<section>
    <div >
        <footer class="page-footer font-small container-fluid pg">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 pg-txt" >
                EPN © Todos los Derechos Reservados
            </div>
            <!-- Copyright -->
        </footer>
    </div>
    <!-- FIN Pie de página -->
</section>








<!-- SCRIPTS para llamado de funciones -->

<script type="text/javascript">
    var tot_val_ins = <%- JSON.stringify(tot_val_ins) %>
        console.log();
    var porcentaje_dis_ins = <%- JSON.stringify(porcentaje_dis_ins) %>
        console.log();
    var tot_nor_ins = <%- JSON.stringify(tot_nor_ins) %>
        console.log();
    var tot_ins_nor = <%- JSON.stringify(tot_ins_nor) %>
        console.log();


    puntaje_Total(tot_val_ins);
    porcentajes_Totales(tot_val_ins);
    valoracion_Instituciones(tot_val_ins);
    porcentaje_Discapacidad(porcentaje_dis_ins);
    porcentaje_Normas(tot_nor_ins);
   /* prueba(tot_val_ins);*/

    function institucionSeleccionada(){
        cosa = document.formulario1.institucion[document.formulario1.institucion.selectedIndex].index;

        if (cosa==1)
        {
            archivoJS(tot_ins_nor);
        }
        if (cosa==2)
        {
            archivoJS2(tot_ins_nor);
        }
        if (cosa==3)
        {
            archivoJS3(tot_ins_nor);
        }
    }
</script>

<!-- FIN SCRIPTS para llamado de funciones -->

</body>
</html>
