<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Resultados-Accesibilidad Física</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/graficas.css">
    <link rel="stylesheet" href="/css/selector.css">


</head>
<body>

<!-- Menú - navbar -->
<section>
    <nav class="navbar fixed-top navbar-expand-sm nav-fill bg">
        <a class="navbar-brand logo" ><img src="/imagenes/logo-epn.png" alt="logo EPN" style="height: 50px"></a>
        <button class="navbar-toggler toggler " type="button" data-toggle="collapse" data-target="#navbar-collapse">☰</button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav ml-auto ">
                <li class="nav-item"> <a class="nav-link textMenu" href="inicio">
                        <img src="/imagenes/iconHome.png"  class="rounded-circle imgText" alt="icono Inicio" >
                        Inicio</a>
                </li>
                <li class="nav-item"> <a class="nav-link textMenu" href="resultados">
                        <img src="/imagenes/iconDashboard.png"  class="rounded imgText" alt="icono Resultados">
                        Resultados</a>
                </li>
                <li class="nav-item"> <a class="nav-link textMenu" href="acerca">
                        <img src="/imagenes/iconAcerca.png"  class="rounded imgText" alt="icono Acerca">
                        Acerca de</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!-- FIN Menú - navbar -->



<!-- Información general -->
<section>
    <div class="row sp">
        <div class="col-xl-3 col-lg-6 col-12" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-primary bg-darken-2">
                            <i><img class="card-img-top" src="/imagenes/icn-ins.png" alt="icono Institución" ></i>
                        </div>
                        <div class="p-2 bg-gradient-x-primary white media-body">
                            <h5>Instituciones Evaluadas</h5>
                            <h5 class="text-bold-400 mb-0">
                                26
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-primary2 bg-darken-22">
                            <i> <img class="card-img-top" src="/imagenes/icn-norm.png" alt="icono Norma" ></i>
                        </div>
                        <div class="p-2 bg-gradient-x-primary2 white media-body">
                            <h5>Normas Técnicas Ecuatorianas</h5>
                            <h5 class="text-bold-400 mb-0">
                                11
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-primary3 bg-darken-23">
                            <i><img class="card-img-top" src="/imagenes/icn-preg.png" alt="icono Pregunta" ></i>
                        </div>
                        <div class="p-2 bg-gradient-x-primary3 white media-body">
                            <h5>Preguntas realizadas</h5>
                            <h5 class="text-bold-400 mb-0">
                                181
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="card">
                <div class="card-content">
                    <div class="mediaI align-items-stretch">
                        <div class="p-2 text-center bg-primary4 bg-darken-24">
                            <i><img class="card-img-top" src="/imagenes/icn-dis.png" alt="icono Discapacidad" ></i>
                        </div>
                        <div class="p-2 bg-gradient-x-primary4 white media-body">
                            <h5>Discapacidades Consideradas</h5>
                            <h5 class="text-bold-400 mb-0">
                                3
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</section>
<!-- FIN Información general -->


<!-- Graficos Generales-->

<section>
    <div class="container-fluid">
        <div id="content2" class="container-fluid">
            <div class="row ">
                <div class="col-sm-12">
                    <div class="row ">
                        <div class="col-sm-6" data-aos="fade-down-right"  data-aos-duration="2000" data-aos-delay="600">
                            <div id="global" class="chart-container global">
                                <div id="legend" ></div>
                            </div>
                            <br>
                        </div>
                        <div class="col-sm-6" data-aos="fade-down-left"  data-aos-duration="2000" data-aos-delay="600">
                            <div class="chart-container" >
                                <canvas id="chart1"></canvas>
                            </div>
                            <script src="/js/puntaje_Total.js"></script>
                            <br>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row ">
                        <div class="col-sm-6" data-aos="fade-up-right" data-aos-duration="2000" data-aos-delay="300">
                            <div class="chart-container" >
                                <canvas id="chart5"></canvas>
                            </div>
                            <script src="/js/porcentajes_Totales.js"></script>
                            <br>
                        </div>
                        <div class="col-sm-6" data-aos="fade-up-left" data-aos-duration="2000" data-aos-delay="300">
                            <div class="chart-container" >
                                <canvas id="chart6"></canvas>
                            </div>
                            <script src="/js/valoracion_instituciones.js"></script>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- botones prueba -->

<section>
    <div class="container-fluid">
        <div class="row text-center" >
            <div class="col-md-6 ">
                <div id= "ainfo1" style="margin-right: 10px; margin-left: 10px; margin-bottom: 10px; margin-top: 10px" data-aos="zoom-in-up" data-aos-duration="2000"  data-aos-delay="300">
                    <a  href="#info1" class="inf" onclick="deshabilitaBoton(event)" >Porcentaje de Cumplimiento</a>
                </div>
            </div>
            <div class="col-md-6  ">
                <div id= "ainfo3" style="margin-right: 10px; margin-left: 10px; margin-bottom: 10px; margin-top: 10px" data-aos="zoom-in-up" data-aos-duration="2000"  data-aos-delay="300">
                    <a  href="#info3" class="inf" onclick="deshabilitaBoton(event)">Datos por Norma</a>
                </div>
            </div>
        </div>

        <div class="row" style="min-height: 300px;">
            <div id="info1" class="col-sm-12 well oculto"  >
                <br>
                <div id="content2" class="container-fluid" >
                    <div class="row ">
                        <div class="col-sm-12" style ="text-align: center" >
                            <div class="row" >
                                <div class="col-sm-4"  >
                                    <div class="chart-container">
                                        <canvas id="chart2" style="width: 700px; height: 500px"></canvas>
                                        <script src="/js/porcentaje_Discapacidad.js"></script>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-sm-4" >
                                    <div class="chart-container" >
                                        <canvas id="chart3" style="width: 700px; height: 500px"></canvas>
                                        <script src="/js/porcentaje_Discapacidad.js"></script>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-sm-4" >
                                    <div class="chart-container">
                                        <canvas id="chart4" style="width: 700px; height: 500px"></canvas>
                                        <script src="/js/porcentaje_Discapacidad.js"></script>
                                    </div>
                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="info3" class="col-sm-12 oculto" >
                <br>
                <div id="content2" class="container-fluid">
                    <div class="row ">
                        <div class="col-sm-12" style ="text-align: center">
                            <form name="formulario1" action="#" alt="Selector Instituciones" >
                                <select alt="Selector Instituciones" class=" dropdown-content select-items select-selected" id="select" type="button" name="institucion" onchange="institucionSeleccionada()" >
                                    <option hidden selected>Seleccione una institución</option>
                                    <% for(var i = 0; i< tot_nor_ins.length; i++){ %>
                                        <option id="seleccionado"  value="<%= tot_nor_ins[i].nom_ins %>"> <%= tot_nor_ins[i].nom_ins %> </option>
                                    <% } %>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>

                <br>
                <div id="content6" class="container-fluid">
                    <div class="row ">
                        <div class="col-sm-12">
                            <div class="row ">
                                <div class="col-sm-6">
                                    <div id="global2" class="chart-container global2 ocult" >
                                        <div id="legend2"></div>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-sm-6">
                                    <div class="chart-container ocult" id="chartContainer" >
                                        <canvas id="chart"></canvas>
                                    </div>
                                    <script src="/js/puntaje_Total_Norma.js"></script>
                                    <br>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row ">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <br>
                                <div class="chart-container ocult" id="chartContainer2" >
                                    <canvas id="chart9"></canvas>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--Oculta-Muestra Botón-->
    <script>
        jQuery(document).ready(function(){
            $(".oculto").hide();
            $(".inf").click(function(){
                var nodo = $(this).attr("href");

                if ($(nodo).is(":visible")){
                    $(nodo).hide();
                    return false;
                }else{
                    $(".oculto").hide("slow");
                    $(nodo).fadeToggle("slow");
                    return false;
                }
            });
        });
    </script>
    <!--Bloquea Botón-->
    <script>
        var globalActivo;
        function deshabilitaBoton(btnSelect) {
            var botonInfo1= document.getElementById("ainfo1");
            var botonInfo3= document.getElementById("ainfo3");

            var activo= btnSelect.srcElement.hash;

            if (globalActivo){
                globalActivo= undefined;
                botonInfo1.style.display = "block";
                botonInfo3.style.display = "block";
            }
            else {
                if (activo == "#info1")
                {
                    botonInfo3.style.display = "none";
                    globalActivo = "#info1";
                }

                if (activo == "#info3")
                {
                    botonInfo1.style.display = "none";
                    globalActivo = "#info3";
                }
            }
        }
    </script>
    <!--Muestra opcion seleccionada-->
    <script>
        $(".ocult").hide();
        $('#select').click(function(){
            $('#global2').show();
            $('#chartContainer').show();
            $('#chartContainer2').show();
        });
    </script>
</section>
<br>

<!-- FIN Graficos Generales-->

<!-- Pie de página -->
<section>
    <div >
        <footer class="page-footer font-small container-fluid pg">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 pg-txt" >
                EPN © Todos los Derechos Reservados
            </div>
            <!-- Copyright -->
        </footer>
    </div>
    <!-- FIN Pie de página -->
</section>


<!-- SCRIPTS para llamado de funciones -->

<script type="text/javascript">
    var tot_val_ins = <%- JSON.stringify(tot_val_ins) %>
        console.log();
    var porcentaje_dis_ins = <%- JSON.stringify(porcentaje_dis_ins) %>
        console.log();
    var tot_nor_ins = <%- JSON.stringify(tot_nor_ins) %>
        console.log();
    var tot_ins_nor = <%- JSON.stringify(tot_ins_nor) %>
        console.log();
    var porcentaje_dis_nor = <%- JSON.stringify(porcentaje_dis_nor) %>
        console.log();

    puntaje_Total(tot_val_ins);
    porcentajes_Totales(tot_val_ins);
    valoracion_Instituciones(tot_val_ins);
    porcentaje_Discapacidad(porcentaje_dis_ins);

    // porcentaje_Normas(tot_nor_ins);


    function institucionSeleccionada(){
        select = document.formulario1.institucion[document.formulario1.institucion.selectedIndex].index;

        if (select==1) { archivoJS(tot_ins_nor); porcentajeNorma(porcentaje_dis_nor);}
        if (select==2) { archivoJS2(tot_ins_nor); porcentajeNorma1(porcentaje_dis_nor);}
        if (select==3) { archivoJS3(tot_ins_nor);porcentajeNorma2(porcentaje_dis_nor);}
        if (select==4) { archivoJS4(tot_ins_nor);porcentajeNorma3(porcentaje_dis_nor);}
        if (select==5) { archivoJS5(tot_ins_nor);porcentajeNorma4(porcentaje_dis_nor);}
        if (select==6) { archivoJS6(tot_ins_nor);porcentajeNorma5(porcentaje_dis_nor);}
        if (select==7) { archivoJS7(tot_ins_nor);porcentajeNorma6(porcentaje_dis_nor);}
        if (select==8) { archivoJS8(tot_ins_nor);porcentajeNorma7(porcentaje_dis_nor);}
        if (select==9) { archivoJS9(tot_ins_nor);porcentajeNorma8(porcentaje_dis_nor);}
        if (select==10) { archivoJS10(tot_ins_nor);porcentajeNorma9(porcentaje_dis_nor);}
        if (select==11) { archivoJS11(tot_ins_nor);porcentajeNorma10(porcentaje_dis_nor);}
        if (select==12) { archivoJS12(tot_ins_nor);porcentajeNorma11(porcentaje_dis_nor);}
        if (select==13) { archivoJS13(tot_ins_nor);porcentajeNorma12(porcentaje_dis_nor);}
        if (select==14) { archivoJS14(tot_ins_nor);porcentajeNorma13(porcentaje_dis_nor);}
        if (select==15) { archivoJS15(tot_ins_nor);porcentajeNorma14(porcentaje_dis_nor);}
        if (select==16) { archivoJS16(tot_ins_nor);porcentajeNorma15(porcentaje_dis_nor);}
        if (select==17) { archivoJS17(tot_ins_nor);porcentajeNorma16(porcentaje_dis_nor);}
        if (select==18) { archivoJS18(tot_ins_nor);porcentajeNorma17(porcentaje_dis_nor);}
        if (select==19) { archivoJS19(tot_ins_nor);porcentajeNorma18(porcentaje_dis_nor);}
        if (select==20) { archivoJS20(tot_ins_nor);porcentajeNorma19(porcentaje_dis_nor);}
        if (select==21) { archivoJS21(tot_ins_nor);porcentajeNorma20(porcentaje_dis_nor);}
        if (select==22) { archivoJS22(tot_ins_nor);porcentajeNorma21(porcentaje_dis_nor);}
        if (select==23) { archivoJS23(tot_ins_nor);porcentajeNorma22(porcentaje_dis_nor);}
        if (select==24) { archivoJS24(tot_ins_nor);porcentajeNorma23(porcentaje_dis_nor);}
        if (select==25) { archivoJS25(tot_ins_nor);porcentajeNorma24(porcentaje_dis_nor);}
        if (select==26) { archivoJS26(tot_ins_nor);porcentajeNorma25(porcentaje_dis_nor);}

    }
</script>

<!-- FIN SCRIPTS para llamado de funciones -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</body>
</html>
