<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>


    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/selectBox.css">

</head>

<body>

<!-- Menú - navbar -->
<section>
    <nav class="navbar fixed-top navbar-expand-sm nav-fill bg">
        <a class="navbar-brand logo" ><img src="../logo-epn.png" alt="logo EPN" style="height: 50px"></a>
        <button class="navbar-toggler toggler " type="button" data-toggle="collapse" data-target="#navbar-collapse">☰</button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav ml-auto ">
                <li class="nav-item"> <a class="nav-link textMenu" href="inicio">
                        <img src="../iconHome.png"  class="rounded-circle imgText" alt="icono Inicio" >
                        Inicio</a>
                </li>
                <li class="nav-item"> <a class="nav-link textMenu" href="pruebaData">
                        <img src="../iconDashboard.png"  class="rounded imgText" alt="icono Resultados">
                        Resultados</a>
                </li>
                <li class="nav-item"> <a class="nav-link textMenu" href="acerca">
                        <img src="../iconAcerca.png"  class="rounded imgText" alt="icono Acerca">
                        Acerca de</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!-- FIN Menú - navbar -->

<section>





    <div class="container-fluid cf-f">
        <div class="container">
            <div class="selected-item">
                <p>You Selected Country : <span>Empty</span></p>
            </div>

            <div class="dropdown">
                <span class="selLabel">Select Country</span>
                <input type="hidden" name="cd-dropdown">
                <ul class="dropdown-list">
                    <% for(var i = 0; i< instituciones.length; i++){ %>
                        <li id="seleccionado"  value="<%= instituciones[i].nom_ins %>"> <%= instituciones[i].nom_ins %> </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <script src="/js/selectot.js"></script>
</section>


<section>

    <div class="container-fluid cf-f">
        <form name="formulario1" action="#">
            <select class="seleccion" name="cosa" onchange="cambia()" >
                <option hidden selected>Selecciona una opción</option>
                <% for(var i = 0; i< instituciones.length; i++){ %>
                    <option id="seleccionado"  value="<%= instituciones[i].nom_ins %>"> <%= instituciones[i].nom_ins %> </option>
                <% } %>
            </select>
        </form>
    </div>

    <div id="canvas-container" class="container-fluid " style="width:60%; align-content: center">
        <canvas id="chart" width="1000" height="500"></canvas>
    </div>


</section>




<!-- Pie de página -->
<section>
    <div >
        <footer class="page-footer font-small container-fluid pg">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 pg-txt" >
                EPN © Todos los Derechos Reservados
            </div>
            <!-- Copyright -->
        </footer>
    </div>
    <!-- FIN Pie de página -->
</section>






</body>
<script type="text/javascript">

    var instituciones = <%- JSON.stringify(instituciones) %>
        // 2) crear una funcion que permita ejecutar el cambio dinamico
        console.log("aquiholiii")
    console.log(instituciones)

    var nombreInstituciones = instituciones.map(
        function (institucion) {
            return institucion.nom_ins;

        }
    )
    console.log(nombreInstituciones)
    var valoresInstituciones = instituciones.map(
        function (institucion) {
            return institucion.nor_tot_a;
        }
    )
    console.log(valoresInstituciones)

    function cambia(){
        var cosa;
        //Se toma el valor de la "cosa seleccionada"
        cosa = document.formulario1.cosa[document.formulario1.cosa.selectedIndex].index;
        console.log(cosa);

        if (cosa==1)
        {
            console.log("cosa hecha")
            var datos = {
                labels : nombreInstituciones,
                datasets : [{
                    label : "datos 1",
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    data : valoresInstituciones
                }
                ]
            };
            console.log(datos)
            var canvas = document.getElementById('chart').getContext('2d');
            window.bar = new Chart(canvas, {
                type : "polarArea",
                data : datos,
                options : {
                    legend: {
                        position: 'right'
                    },
                    elements : {
                        rectangle : {
                            borderWidth : 1,
                            borderColor : "rgb(0,255,0)",
                            borderSkipped : 'bottom'
                        }
                    },
                    responsive : true,
                    title : {
                        display : true,
                        text : "Prueba de grafico de barras"
                    }
                }
            });
        }

    }
    /*definir variables para tra*/
</script>
</html>