<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/menuVertical.css">

</head>


<!-- Vertical navbar -->
<div class="vertical-nav bg-c sidebar" id="sidebar">
    <div class="py-4 ">
        <div class="media d-flex align-items-center active" data-target="#navbar-collapse"><img src="../logo-politecnica.png" alt="logo EPN" style="height: 80px">
        </div>
        <hr class="hrv">
    </div>

    <ul class="nav flex-column bg-c mb-0 sidebar" id="navbar-collapse">

        <a class="textMenu" href="inicio"><img src="../iconHome.png"  class="rounded-circle imgText fa fa-fw " alt="icono Inicio" >Inicio</a>

        <li class="nav-item">
            <button class="dropdown-btn textMenu" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><img src="../iconDashboard.png"  class="rounded imgText fa fa-fw" alt="icono Resultados">Resultados
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="collapse" id="submenu1" aria-expanded="false">
                <ul class="flex-column pl-2 nav">
                    <li class="nav-item">
                        <a class="nav-link collapsed py-1 textMenu" href="#submenu1sub1" data-toggle="collapse" data-target="#submenu1sub1" onclick="$('#contenido').hide();$('#submenu1sub2').hide();$('#submenu1sub1').show();"><span>Datos Generales</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed py-1 textMenu" href="#submenu1sub2" data-toggle="collapse" data-target="#submenu1sub2" onclick="$('#contenido').hide();$('#submenu1sub1').hide();$('#submenu1sub2').show();"><span>Datos Institución</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="textMenu" href="acerca"><img src="../iconAcerca.png"  class="rounded imgText fa fa-fw" alt="icono Acerca"> Acerca de</a>
        </li>
    </ul>
</div>
<!-- End vertical navbar -->


<!-- Contenido -->
<div class="page-content p-5 content main" id="submenu1">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light rounded-pill "><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold"></small></button>



    <div class="collapse" id="submenu1sub1" aria-expanded="false">
            <div id="canvas-container" style="width:70%;">
                <canvas id="chart2" width="2000" height="800"></canvas>
            </div>
    </div>

    <div class="collapse" id="submenu1sub2" aria-expanded="false">
        <ul class="nav nav-tabs flex-column pl-2">
            <li>
                <form name="formulario1" action="#">
                    <select class="seleccion" name="cosa" onchange="var mivariable=cambia1()" >
                        <option hidden selected>Selecciona una opción</option>
                        <% for(var i = 0; i< instituciones.length; i++){ %>
                            <option id="seleccionado"  value="<%= instituciones[i].nom_ins %>"> <%= instituciones[i].nom_ins %> </option>
                        <% } %>
                    </select>
                </form>
            </li>
        </ul>
        <div class="tab-content">
            <div id="canvas-container" style="width:70%;">
                <canvas id="chart" width="2000" height="800"></canvas>
            </div>
        </div>
    </div>

</div>


<!-- FIN Contenido -->

<!-- SCRIPTS para llamado de funciones -->
<script src="/js/menuVertical.js"></script>
<script src="/js/grafico2.js"></script>
<script type="text/javascript">
    var tot_ins_nor = <%- JSON.stringify(tot_ins_nor) %>
    console.log();
    var instituciones = <%- JSON.stringify(instituciones) %>

        archivoJS(tot_ins_nor);
    archivoJS2(tot_ins_nor);

</script>
<script src="/js/grafico1.js"></script>

<script type="text/javascript">
    var tot_ins_nor = <%- JSON.stringify(tot_ins_nor) %>
        console.log();
    var instituciones = <%- JSON.stringify(instituciones) %>
        console.log(tot_ins_nor)
    //archivoJS(instituciones)

    function cambia1(){
        cosa = document.formulario1.cosa[document.formulario1.cosa.selectedIndex].index;
        console.log("cosita" + cosa)
        // return cosa;

        if (cosa==1)
        {
            archivoJS(tot_ins_nor);
        }
        if (cosa==2)
        {
            archivoJS2(tot_ins_nor);
        }
        if (cosa==3)
        {
            archivoJS3(tot_ins_nor);
        }
    }

</script>
<!-- FIN SCRIPTS para llamado de funciones -->
</body>

</html>